<div class="createGoodsTypeWrap">
	<div class="my-page-header clear">
		<div class="pull-left">选择门店</div>
		<div class="pull-left m-l">
			<select ng-model="store" class="form-control w-200 inline" ng-options="store.store_name for store in storeListData" ng-change="changeStore()"></select>
		</div>
	</div>
	<div class="navTitle"><a ui-sref="app.goodsType">分类管理</a> > 新增商品分类</div>
	<form class="form-horizontal m-l-100">
		<div class="form-group">
			<label for="inputEmail3" class="pull-left control-label text-left text-indent-20">分类名称：</label>
			<div class="pull-left m-l-md">
				<input type="text" ng-model="createGoodsTypeData.name" class="form-control w-lg" id="" maxlength="10" placeholder="{{placeholderTextType}}">
			</div>
		</div>
		<div class="form-group">
			<label for="inputEmail3" class="pull-left control-label text-left text-indent-20">商品标签：</label>
			<div class="pull-left m-l-md">
				<input type="text" ng-model="addTag" class="form-control w-lg inline" maxlength="10" id="" placeholder="{{placeholderTextTag}}">
				<button class="btn btn-primary" ng-click="addTagClick()">添加标签</button>
			</div>
			<div class="m-t-md clear-both">
	      		<ul class="list-group text-center administrorUl desTagArr">
	      			<li class="list-group-item text-left" ng-repeat="tag in createGoodsTypeData.tag">
	      				{{ $index+1 }} . {{tag.name}} 
	      				<button class="btn btn-danger btn-circle m-l pull-right" style="margin-top:-7px" ng-click="unbindStaff(storeList,$index,storeList.store_info.store_sn)">删除</button>
	      			</li>
				</ul>
	      	</div>
		</div>
		<div class="form-group text-left btns">
			<button class="btn btn-primary" ui-sref="app.goodsType">返回</button>
			<button class="btn btn-primary" ng-click="createGoodsSub()">保存</button>
		</div>
	</form>
</div>