<div class="salingGoodsWrap">
	<div class="my-page-header clear">
		<div class="pull-left">选择门店</div>
		<div class="pull-left m-l">
			<select ng-model="store" class="form-control w-200 inline" ng-options="store.store_name for store in storeListData" ng-change="changeStore()"></select>
		</div>
	</div>
	<div class="goodsList">
		<div class="m-t-md p-40-o">
			<div class="pull-left">
				<button ng-class="{'btn btn-primary':showGoods,'btn btn-default':!showGoods}" ng-click="changeStatus(0)">商品列表</button>
				<button ng-class="{'btn btn-primary':!showGoods,'btn btn-default':showGoods}" ng-click="changeStatus(1)">推荐套餐</button>
				<select class="form-control w-200 inline" ng-model="category_sn" ng-change="changeGoodsType()" ng-show="showGoods">
					<option value="">全部分类</option>
					<option value="rx">热销</option>
					<option ng-repeat="x in goodsTypeList" value="{{x.category_sn}}">{{x.name}}</option>
				</select>
			</div>
			<div class="pull-right" ng-show="showGoods">
				<button class="btn btn-primary" ng-click="salingCreateGoodsType()">+新建分类</button>
				<button class="btn btn-primary" ng-click="salingCreateGoods()">+发布商品</button>
			</div>
			<div class="pull-right" ng-show="!showGoods">
				<button class="btn btn-primary" ng-click="goCreateGoodsType()">+新建套餐</button>
			</div>
		</div>
		<!-- 商品列表 -->
		<div class="p-40-o" ng-show="showGoods">
			<table class="table table-responsive table-bordered table-hover m-t-sm salingTable">
			    <thead>
			        <tr>
			        	<th ng-cloak class="text-center" style="width:50px">
	        				<label class="checkbox-inline i-checks">
				              	<input type="checkbox" ng-model="allChoose" ng-click="checkAllChoose()"><i></i>
				            </label>
	        			</th>
			            <th ng-cloak class="text-center">商品名称</th>
			            <th ng-cloak class="text-center">商品分类</th>
			            <th ng-cloak class="text-center">价格</th>
			            <th ng-cloak class="text-center">总销量</th>
			            <th ng-cloak class="text-center">操作</th>
			        </tr>
			    </thead>
			    <tbody ng-sortable="$ctrl.sortableConf">
					<tr ng-repeat="goods in goodsListData" style="cursor: pointer;">
						<td ng-cloak class="text-center">
	        				<label class="checkbox-inline i-checks">
				              	<input type="checkbox" ng-model="goods.checked"><i></i>
				            </label>
				        </td>
						<td ng-cloak class="text-left" style="width: 300px">
							<img src="http://qnbar-test.oss-cn-hangzhou.aliyuncs.com/ftang/store/poster/26848458b4b1b30e6535d77fd61fa931.jpg" alt="" ng-if="!goods.cover_url">
							<img src="{{goods.cover_url}}" alt="" ng-if="goods.cover_url">
							<span>{{goods.name}}</span>
						</td>
						<td ng-cloak class="text-center">{{goods.category_name}}</td>
						<td ng-cloak class="text-center">￥{{goods.price}}</td>
						<td ng-cloak class="text-center">{{goods.amount}}</td>
						<td ng-clock class="text-center clearPadding">
			    			<a class="btn btn-text" ng-click="editGoods(goods)">修改</a>
			    			<a class="btn btn-text" ng-click="downGoods(goods)">下架</a>
			    			<a class="btn btn-text" ng-click="delGoods(goods)">删除</a>
			    		</td>
					</tr>
			    </tbody>
			</table>
			<div>
				<button class="btn btn-primary" ng-click="downGoodsChoosed()">下架</button>
	    		<button class="btn btn-danger" ng-click="delChoosedGoods()">删除</button>
			</div>
		</div>
		<!-- 分页设置 -->
		<div class="naWrap" ng-show="showGoods">
			<ul uib-pagination total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm pull-left" boundary-link-numbers="true" rotate="false" next-text="下一页" previous-text="上一页"></ul>
			<div class="pull-left naSetWrap">
				<input type="text" ng-model="reqPage">
				<button type="button" ng-click="setPage()">跳转</button>
				最大页数: {{maxPage}} 页
			</div>
		</div>
		<div class="salingTip" ng-show="showGoods">
			*在分类中商品越在前面小程序上显示就前面，上下拖动商品可以改变显示顺序
		</div>
	</div>

	<!-- 推荐套餐 -->
	<div class="recommendGoods m-t-md p-40-o"  ng-show="!showGoods">
		<table class="table table-responsive table-bordered table-hover salingTable">
		    <thead>
		        <tr>
		            <th ng-cloak class="text-center">套餐名称</th>
		            <th ng-cloak class="text-center">商品</th>
		            <th ng-cloak class="text-center">价格</th>
		            <th ng-cloak class="text-center">销量</th>
		            <th ng-cloak class="text-center">状态</th>
		            <th ng-cloak class="text-center">操作</th>
		        </tr>
		    </thead>
		    <tbody>
		    	<tr ng-repeat="recommend in recommendListData">
	    			<td ng-clock class="text-left" style="width: 300px">
						<img src="http://qnbar-test.oss-cn-hangzhou.aliyuncs.com/ftang/store/poster/26848458b4b1b30e6535d77fd61fa931.jpg" alt="" ng-if="!recommend.cover_url">
						<img src="{{recommend.cover_url}}" alt="" ng-if="recommend.cover_url">
	    				{{recommend.name}}
	    			</td>
	    			<td ng-clock class="text-left" style="max-width: 900px;">{{recommend.goodsString}}</td>
	    			<td ng-clock class="text-center">￥{{recommend.pay_price}}</td>
	    			<td ng-clock class="text-center">{{recommend.amount}}</td>
	    			<td ng-clock class="text-center">{{recommend.status | goodsStatus}}</td>
	    			<td ng-clock class="text-center clearPadding">
	    				<!-- <a class="btn btn-text" ng-click="editRecommed(recommend)">修改</a> -->
	    				<a class="btn btn-text" ng-click="delRecommend(recommend)">删除</a>
	    			</td>
		    	</tr>
		    </tbody>
		</table>
	</div>
	<!-- 分页设置 -->
	<div class="naWrap" ng-show="!showGoods">
		<ul uib-pagination total-items="bigTotalItems2" ng-model="bigCurrentPage2" max-size="maxSize2" class="pagination-sm pull-left" boundary-link-numbers="true" rotate="false" next-text="下一页" previous-text="上一页"></ul>
		<div class="pull-left naSetWrap">
			<input type="text" ng-model="reqPage2">
			<button type="button" ng-click="setPage2()" >跳转</button>
			最大页数: {{maxPage2}} 页
		</div>
	</div>
	<div class="salingTip"  ng-show="!showGoods">
		*推荐套餐将在用户预订电影时显示，上下拖动套餐可以改变套餐显示顺序
	</div>
</div>
<!--编辑分类模态框模板-->
<div>
    <script type="text/ng-template" id="editGoods.html">
    	<div class="modal-header">
	        <h4 class="modal-title text-center">编辑商品
				<button type="button" class="close" ng-click="close()">
			 		<span aria-hidden="true">&times;</span>
			 		<span class="sr-only">Close</span>
				</button>
	        </h4>
	    </div>
        <div class="modal-body">
        	<form class="form-horizontal modalForm m-l-20">
            	<div class="form-group has-feedback">
					<label for="inputEmail3" class="col-sm-4 control-label">商品名称：</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" id="" placeholder="请输入商品名称" required ng-model="goodsInfo.name">
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="inputEmail3" class="col-sm-4 control-label">商品售价：</label>
					<div class="col-sm-8">
						<input type="text"  class="form-control" id="" placeholder="请输入商品价格"  ng-model="goodsInfo.price">
					</div>
				</div>
		  		<div class="form-group">
			  		<label class="col-sm-4 control-label">商品状态：</label>
				    <div class="col-sm-8">
				      	<div class="checkbox">
							<label class="i-checks">
								<input type="radio" ng-checked="true" name="status" ng-model="goodsInfo.status" ng-value="1"><i></i>上架
							</label>
							<label class="i-checks">
								<input type="radio" name="status" ng-model="goodsInfo.status" ng-value="2"><i></i>下架
							</label>
						</div>
				    </div>
			  	</div>
		  		<div class="form-group">
			  		<label class="col-sm-4 control-label">热销状态：</label>
				    <div class="col-sm-8">
				      	<div class="checkbox">
							<label class="i-checks">
								<input type="radio" ng-checked="true" name="goods_hot" ng-model="goodsInfo.goods_hot" ng-value="1"><i></i>热销
							</label>
							<label class="i-checks">
								<input type="radio" name="goods_hot" ng-model="goodsInfo.goods_hot" ng-value="2"><i></i>不热销
							</label>
						</div>
				    </div>
			  	</div>
		  		<div class="form-group">
					<label for="inputEmail3" class="col-sm-4 control-label">商品描述：</label>
					<div class="col-sm-8">
						<textarea class="form-control" rows="3" required ng-model="goodsInfo.info"></textarea> 
					</div>
		  		</div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">关闭</button>  
            <button type="button" class="btn btn-primary" ng-click="editGoodsTypeSub()">修改</button>  
        </div> 
    </script>
</div>
<!--修改模态框-->
<div>
    <script type="text/ng-template" id="editSalingGoods.html">
    	<div class="modal-header">
	        <h4 class="modal-title text-center">修改商品信息
				<button type="button" class="close" ng-click="close()">
			 		<span aria-hidden="true">&times;</span>
			 		<span class="sr-only">Close</span>
				</button>
	        </h4>
	    </div>
        <div class="modal-body">
			<form class="form-horizontal" name="" verify-scope  id="submitForm" >
				
				<div class="form-group">
			    	<label class="col-sm-3 control-label">修改商品名称:</label>
				    <div class="col-sm-8">
				      	<input type="input" class="form-control" ng-model="oldName" maxlength="10" placeholder="{{placeholderTextName}}">
				    </div>
			  	</div>
			  	<div class="form-group">
			    	<label class="col-sm-3 control-label">修改商品价格:</label>
				    <div class="col-sm-8">
				      	<input type="input" class="form-control" ng-model="oldPrice" placeholder="{{placeholderTextGoodsPrice}}">
				    </div>
			  	</div>
				<div class="form-group">
			  		<label class="col-sm-3 control-label">热销状态：</label>
				    <div class="col-sm-8">
				      	<div class="checkbox">
							<label class="i-checks">
								<input type="radio" ng-checked="true" name="goods_hot" ng-model="goodsInfo.goods_hot" ng-value="1"><i></i>热销
							</label>
							<label class="i-checks">
								<input type="radio" name="goods_hot" ng-model="goodsInfo.goods_hot" ng-value="2"><i></i>不热销
							</label>
						</div>
				    </div>
			  	</div>

			  	<div class="form-group">
			    	<label class="col-sm-3 control-label">修改商品分类:{{categoryName}}</label>
			    	<div class="col-sm-8">
						<select ng-model="goodsType" class="form-control w-200 inline" ng-options="goodsType.name for goodsType in goodsTypeList" ng-change="changeStore()"></select>
					</div>
			  	</div>
			  	
			  	<div class="form-group">
			    	<label class="col-sm-3 control-label">修改商品信息:</label>
				    <div class="col-sm-8">
				      	<textarea class="form-control" rows="3" ng-model="oldInfo" maxlength="30" placeholder="{{placeholderTextGoodsInfo}}"></textarea>
				    </div>
			  	</div>

			  	<div class="form-group">
				    <label class="col-sm-3 control-label">修改商品图片:</label>
				    <div class="col-sm-8">
					    <p style="margin-top: 10px;margin-bottom: 0">上传图片最佳尺寸是118*164，其他尺寸会影响显示效果，格式jpg、png，大小不能超过1M，每个商品最多上传一张图片</p><!-- 格式支持和后端协商保持同步 -->
						<div id="ossfile"></div><!-- 可配置Id,默认用这个id -->
						<br/>
						<div id="uploadContainer"><!-- 可配置Id,默认用这个id -->
							<a id="selectfilesBtn" href="javascript:void(0);" class='btn btn-primary'>选择文件</a> <!-- 可配置Id,默认用这个id -->
							<a id="postfilesBtn" href="javascript:void(0);" class='btn btn-primary'>开始上传</a> <!-- 可配置Id,默认用这个id -->
						</div>
						<p>&nbsp;</p>
						<img src="{{ossPath}}" alt="" class="imgCheck">
					</div>
			  	</div>
			</form>				
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="close()">关闭</button>  
            <button type="button" class="btn btn-primary" ng-click="editGoodsTypeSub()">修改</button>  
        </div> 
    </script>
</div>
