<div class="login" mycollectionplug="bind" >
    <div class="login_m">
		<div class="login_logo">
        	<img src="./img/login/logo.png" width="196" height="46">
		</div>
		<div class="login_boder">
        	<div class="login_padding" id="login_model">
				<h2>账号</h2>
				<label>
		          	<input type="text" id="username" class="txt_input txt_input2" ng-model="accountNum" placeholder="请输入账号">
		        </label>
		        <h2>密码</h2>
		        <label>
		          	<input type="password" name="textfield2" id="userpwd" class="txt_input" ng-model="password" placeholder="请输入密码" ng-keyup="enterEvent($event)">
		        </label>
		        <div class="rem_sub text-center m-t-lg">
		        	<label>
		           	 	<input type="button" class="sub_button" name="button" id="button" value="登录" style="opacity: 0.7;" ng-click="signIn()">
		          	</label>
		        </div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<p align="center"> 青柠无人后台管理 </p>
</div>
